:root{
    --logoGap: .5rem;

    /* sidebar variables */
    --sidebarBackgroundColor: #87CEEB;
    --sidebarFontColor:white;

    --sidebarTitleFontSize: 2.5rem;
    --sidebarFontSize: 1.5rem;

    --smallLogoSize:1.5rem;
    --largeLogoSize: 2.5rem;

    /* Header Variables */
    --headerPadding: 10px;
    --logoBackgroundColor: gray;

    /* Main Variables */
    
    
}

body {
    margin: 0;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

/* Initial Setup */
/* Be careful of auto here */
.container {
    min-height: 100vh;
    max-height: 100vh;


    display: grid;
    grid-template-columns: auto 4fr;
    grid-template-rows: 1fr 5fr;
}

.container>div{
    border: 1px solid black;
}

.header{
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    /* grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr; */
    grid-template: auto 1fr / 2fr 1fr;

    background-color: beige;
}

.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;

    background-color: var(--sidebarBackgroundColor);

    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.main{
    grid-area: 2 / 2 / 3 / 3;
}

/* SideBar CSS */
.dashLink,.navLink,.controlsLink{
    display: flex;
    align-items:center;
    gap: var(--logoGap);
}

ul.navList,ul.controlsList {
    list-style: none;
    padding: 0;
}

li.navItem,li.controlsItem {
    font-size: var(--sidebarFontSize);
    color: var(--sidebarFontColor);
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 10px;
    /* I can add 0px as a second variabel to remove the indentation here */
}

.dashLink>span{
    font-size: var(--sidebarTitleFontSize);
    color: var(--sidebarFontColor);
}

.smallLogo{
    height: var(--smallLogoSize);
}

.largeLogo{
    height: var(--largeLogoSize);
}

/* Header CSS */

.searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--logoGap);
    padding: var(--headerPadding);
}

.searchContainer input{
    flex-grow: 1;
    border-radius: 20px;
    height: 30px;
    background-color: rgb(222, 214, 214);
    padding: 5px;
    font-size: large;
}

.profileContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: var(--headerPadding);
}

.logoBackground{
    height: calc(var(--largeLogoSize) + 1rem);
    width: calc(var(--largeLogoSize) + 1rem);
    border: 1px solid var(--logoBackgroundColor);
    background-color: var(--logoBackgroundColor);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#notificationLogo{
    height: var(--smallLogoSize);
}

#profileLogo{
    height: var(--largeLogoSize);
    display: flex;
    justify-content: center;
    align-items: center;
}

.username{
    font-size: var(--sidebarFontSize);
    font-weight: bold;
}
.welcomeContainer {
    display: flex;
    align-items: center;
    grid-template-columns: .3fr 2fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 3%;
    gap: 1rem;
}

.welcomeContainer>a{
    height: calc(4rem + 1rem);
    width: calc(4rem + 1rem);
    border: 1px solid var(--logoBackgroundColor);
    background-color: var(--logoBackgroundColor);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

}
.welcomeContainer>a>img {
    height: 4rem;
}


#welcomeGreeting, #welcomeName {
    font-weight: bold;
}

#welcomeName{
    font-size: 1.5rem;
}

.btnsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-self: center;
    gap: 1rem;
}

button{
    background-color: var(--sidebarBackgroundColor);
    height: 2.5rem;
    width: 6rem;
    border-radius: 15px;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    border: none;
}




/* Main Content */
.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    overflow:auto;
    margin: 0;
}

.projects{
    /* grid-row: 1/3; */
    height: 1000px;
}

.newsfeed{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.projects{
    padding: 1.5rem;
}

h3{
    padding-top: 0;
    margin-top: 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,.85fr));
    grid-auto-rows: 250px;
    gap: 2rem;

}
.card{
    border: 5px solid red;
}

.newsfeed{
    padding: 1.5rem;
}

.announcementContainer{
    display: grid;
    border: 5px solid black;
}

h5{
    margin: 0;
    padding: 0;
}